<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="eval.wit.ai.calcmahjong" >

    <!-- HTTP通信 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- ネットワーク接続状態取得 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="eval.wit.ai.calcmahjongpro.models.clients.AppController"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="eval.wit.ai.calcmahjongpro.activities.MenuActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter android:label="@string/menu" >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="eval.wit.ai.calcmahjongpro.activities.ScoreActivity"
            android:label="@string/title_activity_score"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="eval.wit.ai.calcmahjongpro.activities.MahjongScoringActivity"
            android:label="@string/title_activity_mahjong_scoring"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>
        <activity
            android:name="eval.wit.ai.calcmahjongpro.activities.PlayerRecordActivity"
            android:label="@string/title_activity_player_record"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="eval.wit.ai.calcmahjongpro.activities.PlayerListActivity" />
        </activity>
        <activity
            android:name="eval.wit.ai.calcmahjongpro.activities.PlayerListActivity"
            android:label="@string/title_activity_player_list"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="eval.wit.ai.calcmahjongpro.activities.MenuActivity" />
        </activity>
        <activity
            android:name="eval.wit.ai.calcmahjongpro.activities.PlayerRegistrationActivity"
            android:label="@string/title_activity_player_registration"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="eval.wit.ai.calcmahjongpro.activities.MenuActivity" />
        </activity>
        <activity
            android:name="eval.wit.ai.calcmahjongpro.activities.ResultActivity"
            android:label="@string/title_activity_result"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="eval.wit.ai.calcmahjongpro.activities.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="eval.wit.ai.calcmahjongpro.activities.RyukyokuActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name="eval.wit.ai.calcmahjongpro.activities.SeatingListDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name="eval.wit.ai.calcmahjongpro.activities.WikipediaWebViewActivity"
            android:label="@string/title_activity_wikipedia_web_view" >
            <!--<meta-data-->
                <!--android:name="android.support.PARENT_ACTIVITY"-->
                <!--android:value=".activities.MenuActivity" />-->
        </activity>

        <!-- 広告 -->
        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>

        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"/>
    </application>

</manifest>
